@page "{siteName}"
@model SlowcialSharing.Pages.SummaryModel
@{
}

<p>
    Summary of
    <a href="@Model.site.HomePageUrl">@Model.site.Name</a>
    for
    <span id="startTime">@Model.summary.startTime</span>
    to
    <span id="endTime">@Model.summary.endTime</span>
</p>

@if (@Model.summary.items is null)
{
    <p>No items for @Model.siteName yet.</p>
}
else
{
<ul>
    @foreach (var item in @Model.summary.items)
    {
        <li class="item">
            <a href="@item.Link">@item.Title</a>
        </li>
    }
</ul>
}

