@page "{siteName}"
@using System.Globalization;
@model SlowcialSharing.Pages.SummaryModel
@{
    ViewData["Title"] = @Model.site.Name;
    string DateTimeISO(DateTimeOffset dt) =>
    dt.ToString("yyyy-MM-ddTHH:mm:ss.sssZ", CultureInfo.InvariantCulture);
}

<h2 class="sitename" style="font-size: 200% !important; margin-top: 0.5em;"><a href="@Model.site.HomePageUrl">@Model.site.Name</a></h2>
<p class="textmin">
    From
    <span id="startTime" data-datetime=@DateTimeISO(@Model.summary.startTime)>@Model.summary.startTime</span>
    to
    <span id="endTime" data-datetime=@DateTimeISO(@Model.summary.endTime)>@Model.summary.endTime</span>
</p>

@if (@Model.summary.items is null)
{
    <p>No items for @Model.siteName yet.</p>
}
else
{
    <ul style="margin-top: 2.4em;">
    @foreach (var item in @Model.summary.items)
        {
            <partial name="Shared/_Item" for="@item" />
        }
    </ul>
}

<script src="/js/formatDates.js"></script>
